name: llvm-build2

on:
  workflow_run:
    workflows:
      - llvm-build1
    branches:
      - main
    types: 
      - completed
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 13
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Cleanup
        run: |
          sh ./cleanup.sh
      - name: Prepare for makepkg
        run: |
          echo "USERID=$(id -u $(whoami))" >> $GITHUB_ENV
          gh run download -n llvm-second
          NEWVERSION=$(ls -1 llvm-*.zst | head -n 1 | cut -d- -f2)
          git clone --depth 1 https://gitlab.archlinux.org/archlinux/packaging/packages/llvm.git
          git clone --depth 1 https://gitlab.archlinux.org/archlinux/packaging/packages/compiler-rt.git
          git clone --depth 1 https://gitlab.archlinux.org/archlinux/packaging/packages/clang.git
          git clone --depth 1 https://gitlab.archlinux.org/archlinux/packaging/packages/lld.git
          PKGVERSION=$(grep "pkgver=" llvm/PKGBUILD)
          OLDVERSION="${PKGVERSION#pkgver=}"
          
          if [ ${NEWVERSION} != ${OLDVERSION} ]; then
            sh ./modify-llvm-pkgbuild.sh ${NEWVERSION} "true"
            sh ./modify-compiler-rt-pkgbuild.sh ${NEWVERSION} "true"
            sh ./modify-clang-pkgbuild.sh ${NEWVERSION} "true"
            sh ./modify-lld-pkgbuild.sh ${NEWVERSION} "true"
          fi
          echo "USERID=$(id -u $(whoami))" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERID: ''    
      - name: Build llvm
        uses: docker://archlinux:latest
        with:
          entrypoint: '/bin/sh'
          args: ./build.sh ${{ env.USERID }} "true"
      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: llvm
          path: ${{ github.workspace }}/*.pkg.tar.zst
